%section#masthead
  -#%img{ :src => "images/logo.png", :width => 500 }
  %h1#logo Dairyvative Technologies, LLC
%nav
  %ul#main_nav
    %li#first_li
      = link_to 'Home', '/index.html'
    %li
      = link_to 'Innovation', '/innovation.html'
      %ul#sub_nav
        %li
          = link_to 'Stub', '/sustainability.html'
        %li
          = link_to 'Stub 2', '/about.html'
          %ul#sub_nav
            %li
              = link_to 'Stub', '/sustainability.html'
            %li
              = link_to 'Stub 2', '/about.html'
            %li
              = link_to 'Stub longer', '/contact.html'
          %li
            = link_to 'Stub thats longer', '/contact.html'
          %li
            = link_to 'distinct', '/sustainability.html'
            %ul#sub_nav
              %li
                = link_to 'Stub', '/sustainability.html'
              %li
                = link_to 'Stub 2', '/about.html'
              %li
                = link_to 'Stub longer', '/contact.html'
    %li
      = link_to 'About Us', '/about.html'
    %li
      = link_to 'Contact Info', '/contact.html'

