%section#masthead
  %h1#logo Dairyvative Technologies, LLC
%nav
  %ul#main_nav
    %li#first_li
      = link_to 'Home', '/index.html'
    %li
      = link_to 'SEVENx Process', '/sevenx.html'
    %li
      = link_to 'Imagine', '/imagine.html'
    %li
      = link_to 'Benefits', '/benefits.html'
    %li
      = link_to 'About Us', '/about.html'
    %li
      = link_to 'Sustainability', '/sustainability.html'
    %li
      = link_to 'Contact', '/contact.html'

-#    %ul#sub_nav
-#        %li
          = link_to 'Stub 2', '/about.html'
          %ul#sub_nav
            %li
              = link_to 'Stub', '/sustainability.html'
            %li
              = link_to 'Stub 2', '/about.html'
            %li
              = link_to 'Stub longer', '/contact.html'
          %li
            = link_to 'Stub thats longer', '/contact.html'
          %li
            = link_to 'distinct', '/sustainability.html'
            %ul#sub_nav
              %li
                = link_to 'Stub', '/sustainability.html'
              %li
                = link_to 'Stub 2', '/about.html'
              %li
                = link_to 'Stub longer', '/contact.html'